{% extends 'base.html' %}

{% block header %}Game{% endblock %}
{% block title  %}Game{% endblock %}


{% block content %}
    <!-- space at the top to replace navbar -->
    <div class="mb-5"></div>

    <!-- HTML to display before game starts -->
    <div class="before_start">
      <h1>Game Not Started</h1>
      <p class="num_players">? players</p>
      <button onclick="console.log('attempting to send start game request'); io.connect('https://' + document.domain + ':' + location.port).emit('game start')">Start game</button>
    </div>

    <!-- HTML to display while game in progress -->
    <div class="game" style="display:none">
      <div class="timer"></div>
      <h1>Game In Progress</h1>
      <h3 style='color: #ccc;font-size: 30px;'>No message yet..</h3>
      <div class="message_holder"></div>

      <form action="" method="POST">
          <input type="text" class="username" value="You" disabled="disabled"/>
          <input type="text" class="message" placeholder="Messages"/>
          <input type="submit"/>
      </form>

    </div>

    <!-- HTML to display while voting in progress -->
    <div class="voting" style="display:none">
      <div class="timer"></div>
      <h1>Messages from the game</h1>
      <div class="message_holder"></div>

      <h1>Who is the bot</h1>
      <form action="" method="POST">
          <select class="bot_guess">
          </select>
      </form>
    </div>

    <!-- HTML to display while votes are being tallied -->
    <div class="tallying" style="display:none">
      <div class="timer""></div>
      <h1>Tallying votes...</h1>
    </div>


    <!-- HTML to display after game over voting in progress -->
    <div class="score" style="display:none">
      <div class="timer"></div>

      <h1>Scoreboard: will put it here</h1>
      <ol class="scoreboard"></ol>

    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='timer.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='sockets.js') }}"></script>

{% endblock %}
