{% extends 'base.html' %}

{% block header %}Homie Dog{% endblock %}
{% block title  %}Home{% endblock %}

<!-- put all html for this page within this block -->
{% block content %}
<br>
<div class="container p-3 my-3 bg-dark text-white">
  <h1 align="center" class="display-1">Spot the Bot</h1>
</div>
<br>
<br>
<div class="container-fluid">
<p>From our founders:</p>
<blockquote align="left" class="blockquote">
  <p>“You know when you’re drunk and you go to sleep, and you get up and you’re more drunk than when you went to sleep?”</p>
  <footer class="blockquote-footer">Christian Paul Doucette</footer>
  </blockquote>
  <br>
  <br>
  <br>
  <blockquote align="left" class="blockquote">
    <p>“You don’t know how wet my mom gets.”</p>
    <footer class="blockquote-footer">Jake Stanley Apfel</footer>
    </blockquote>
    <br>
    <br>
    <br>
    <blockquote align="left" class="blockquote">
      <p>“I once told someone protests and marches were useless. I regret that now.”</p>
      <footer class="blockquote-footer">Mason Philip Rodriguez Rand</footer>
      </blockquote>
      <br>
      <br>
      <br>
      <blockquote align="left" class="blockquote">
        <p>“I am not a crook.”</p>
        <footer class="blockquote-footer">Kevin A. O'Sullivan</footer>
        </blockquote>
        <br>
        <br>
        <br>
</div>


<h6> *We regret in advance any offense taken by the verbiage, lingo, or insinuations made by the bot </h6>
<br>
<br>
{% endblock %}
