{% extends 'base.html' %}

{% block header %}Homie Dog{% endblock %}
{% block title  %}Home{% endblock %}

<!-- put all html for this page within this block -->
{% block content %}

<div style="background-image: <a href="https://imgur.com/IwdvBzH"><img src="https://i.imgur.com/IwdvBzH.png" title="source: imgur.com" /></a>>
<div style="background-image: url('https://i.imgur.com/IwdvBzH.png');">


<div class="container p-3 my-3 bg-dark text-white">
  <h1 align="center" class="display-1">Spot the Bot</h1>
</div>

<div class="container-fluid">
<p>From our founder:</p>
<blockquote align="left" class="blockquote">
  <p>“You know when you’re drunk and you go to sleep, and you get up and you’re more drunk than when you went to sleep?”</p>
  <footer class="blockquote-footer">Christian Paul Doucette</footer>
  </blockquote>
</div>

<br>
<a href="https://imgur.com/5YbO6ne"><img src="https://i.imgur.com/5YbO6ne.jpg" title="source: imgur.com" width="900" height="1200"/></a>
<br>
<h3 align="center" class="display-3">Christian Doucette</h3>
<h4> Christian is an avid reader (#Eat #Pray #Love), a shredding guitar player, and all around hunk. Christian loves watching "It's Always Sunny in Philadelphia" and eating exotic grains like barley and bulgar wheat. Christian lives to love and loves to live.  Check out his website at https://christian-doucette.github.io/blog.html</h4>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<a href="https://imgur.com/pa8MUmv"><img src="https://i.imgur.com/pa8MUmv.jpg" title="source: imgur.com" width="900" height="1300"/></a>
<br>
<h3 align="center" class="display-3">Jakey Apfel</h3>
<br>
<h4> Jake's a naughty mutt who loves sniffing other doggies and New Jersey pizza.  He likes long walks in his size 10 shoes and plotting sweet sweet revenge against past project partners who cross him.  A devout baptist, you can find Jake at Sunday service singing his favorite hymn, "Go Tell It on the Mountatin". Single and ready to Christian Mingle. </h4>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<a href="https://imgur.com/O9A58a2"><img src="https://i.imgur.com/O9A58a2.jpg" title="source: imgur.com" width="1000" height="1500"/></a>
<br>
<h3 align="center" class="display-3">Mason Rodriguez Rand</h3>
<br>
<h4> Mason is a velociraptor trying to find love in the Windy City, and maybe himself along the way. Born in a meth lab in Gary, Indiana, Mason is full Yang Gang despite being banned from NYC by Mayor Beame for his undisclosed political indiscretions at the 1976 DNC.  Mason is a vegetarian, but occasionally periodically cheats and "eats bourgeoisie for breakfast."  But, Mason is leaving it all behind to settle down and spawn more quasi-demon offspring.</h4>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<a href="https://imgur.com/S5cGZ4i"><img src="https://i.imgur.com/S5cGZ4i.jpg" title="source: imgur.com" width="1000" height="600"/></a>
<br>
<h3 align="center" class="display-3">Sister Kevin</h3>
<br>
<h4>Sister Kevin, O.S.B. has declined to proffer biographical information pending the outcome litigation in the territory of Puerto Rico</h4>
<br>
<br>
<br>
<br>
<h6> *We regret in advance any offense taken by the verbiage, lingo, or insinuations made by the bot </h6>
{% endblock %}
