{% extends 'base.html' %}

{% block header %}Homie Dog{% endblock %}
{% block title  %}Home{% endblock %}

<!-- put all html for this page within this block -->
{% block content %}
<h1>This is a game.  The name of this game is "Spot the Bot"! </h1>


<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Column 1</h3>
      <p>Lorem ipsum dolor..</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 2</h3>
      <p>Lorem ipsum dolor..</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 3</h3>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
</div>
</div>


















{% endblock %}
