{% extends 'base.html' %}

{% block header %}Homie Dog{% endblock %}
{% block title  %}Home{% endblock %}

<!-- put all html for this page within this block -->
{% block content %}

<div class="container p-3 my-3 bg-dark text-white">
  <h1 align="center" class="display-1">Spot the Bot</h1>
</div>
<br>
<br>
<h3 align="center"> "Your goal is to guess who the bot is and for others to guess that youre the bot"</h3>
<h1 align="center" class="display-1">Game Directions</h1>
<br>
<b>
<br>
<h4 align="left" class="display-4">1.) Start Game from Lobby</h4>
<h4 align="left" class="display-4">2.) Ask and answer questions at will*</h4>
<h4 align="left" class="display-4">3.) Ask and answer questions until time runs out</h4>
<h4 align="left" class="display-4">4.) Select who you think the bot is</h4>
<br>
<br>
<h5 align="center" class="display-4">Get points for guessing who the bot is AND when people guess that you are the bot</h5>
<br>
<br>
<br>
<br>
<h6 class="display-6"> *Please refrain from hate speech </h6>
{% endblock %}
